

<div class="text-center" style="padding:50px 0">
	<div class="logo">Registrarse</div>
	
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
                    <div class="form-group">
                        
						<label for="reg_name" class="sr-only">Nombre</label>
						<input type="text" class="form-control" id="reg_name" name="reg_name" placeholder="Nombre">
					</div>
					<div class="form-group">

						<label for="reg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Username">
					</div>
                    <div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Password">
					</div>
		
				</div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
			</div>
			<div class="etc-login-form">
				<p>¿ya tiene cuenta? <a routerLink="/login">Inicia sesion aqui</a></p>
			</div>
		</form>
	</div>
	
</div>